<mat-toolbar class="shadow fixed">
  <span>Tasks Dashboard</span>
  <span class="flex-1"></span>
  <button matIconButton (click)="logout()" >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="container mx-auto p-4 pt-20">
    <!-- top section -->
    <div class="flex flex-col gap-4 w-full">
        <!-- metrics -->
        <div class="flex flex-col gap-4 w-full">
            <h1 class="text-4xl font-bold text-gray-800">Metrics</h1>
            <app-task-metrics />
        </div>
        <!-- add tasks -->
        <header class="flex flex-col md:flex-row justify-between items-center gap-4 mb-6">
            <h1 class="text-4xl font-bold text-gray-800">Task Manager</h1>
            <button mat-flat-button color="primary" (click)="openTaskDialog()">
                <mat-icon>add</mat-icon>
                <span>Create Task</span>
            </button>
        </header>
    </div>

    <!-- filters & search -->
    <div class="flex flex-col md:flex-row gap-4 mb-4 p-4 bg-gray-50 rounded-lg shadow-sm">
        <!-- search -->
        <mat-form-field appearance="outline" class="flex-grow search-input">
            <mat-label>Search by title...</mat-label>
            <input matInput (keyup)="onSearch($event)" placeholder="e.g. Refactor code">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <!-- filter -->
        <mat-button-toggle-group class="items-center h-12" #group="matButtonToggleGroup" [value]="store.filter.status()" (change)="onFilterChange(group.value)">
            <mat-button-toggle value="all">All</mat-button-toggle>
            <mat-button-toggle value="pending">Pending</mat-button-toggle>
            <mat-button-toggle value="completed">Completed</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <!-- loading state -->
    @if (store.isLoading()) {
        <div class="flex justify-center items-center py-12">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
    }

    <!-- table -->
    @if (!store.isLoading() && store.filteredTasks().length > 0) {
        <div class="mat-elevation-z4 rounded-lg overflow-hidden">
            <table mat-table [dataSource]="store.filteredTasks()" class="w-full">

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Title </th>
                    <td mat-cell *matCellDef="let task"> {{task.title}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let task" class="text-gray-600"> {{task.description}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let task">
                        <span [ngClass]="{
                        'bg-yellow-200 text-yellow-800': task.status === 'pending',
                        'bg-green-200 text-green-800': task.status === 'completed'
                        }" class="px-3 py-1 text-sm font-medium rounded-full">
                        {{task.status | titlecase}}
                        </span>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let task">
                        <button mat-icon-button color="primary" (click)="openTaskDialog(task)">
                        <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteTask(task)">
                        <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    }

    <!-- empty state -->
    @if (!store.isLoading() && store.filteredTasks().length === 0) {
        <div class="text-center py-12 bg-gray-50 rounded-lg">
            <p class="text-xl text-gray-500">No tasks found. Try changing your filters or create a new task!</p>
        </div>
    }
</div>
