/* tailwind */
@import "tailwindcss";

/* Standard Angular Material theme and typography */
@use '@angular/material' as mat;
@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* material override styles */
:root .mat-mdc-notch-piece.mdc-notched-outline__notch {
    border-right: none;
}
:root .search-input .mat-mdc-form-field-subscript-wrapper {
    @apply hidden;
}

:root .search-input .mat-mdc-form-field-flex {
    @apply h-12;
}
:root .search-input .mat-mdc-form-field-infix{
    @apply pt-0 pb-0 h-12 min-h-12;
}
:root .search-input .mat-mdc-form-field-input-control {
    @apply h-full;
}
:root .search-input .mdc-floating-label:not(.mdc-floating-label--float-above) {
    @apply top-6;
}